<div>
  <%= f.label :imdb, 'IMDB URL' %>
  <%= f.text_field :imdb %>
</div>

<div>
  <%= label :media, :location, 'Location' %>
  <%= text_field :media, :location %>
</div>
<div>
  <%= label :media, :quality, 'Quality' %>
  <%= select :media, :quality, [
    ['Choose...', nil],
    ['Cam (bad)', 1],
    ['DVD Screener (good with glitches)', 2],
    ['DVD Rip (good)', 3],
    ['DVD', 4],
    ['Blu-ray', 5]
  ] %>
</div>
<div>
  <%= label :media, :watched, 'Seen?' %>
  <%= check_box :media, :watched %>
</div>
