<h1>Sign up as a new user</h1>

<%= error_messages_for :user %>

<% form_for :user, :url => users_path do |f| -%>
  <div class="required">
    <%= label_tag 'name' %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="required">
    <%= label_tag 'email' %><br/>
    <%= f.text_field :email %>
  </div>

  <div class="required">
    <%= label_tag 'password' %><br/>
    <%= f.password_field :password %>
  </div>

  <div class="required">
    <%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div><%= submit_tag 'Sign up' %></div>
<% end -%>
