<div>
  <%= f.label :imdb, 'IMDB URL' %>
  <%= f.text_field :imdb %>
</div>

<div>
  <%= f.label :location, 'Location' %>
  <%= f.text_field :location %>
</div>
<div>
  <%= f.label :quality, 'Quality' %>
  <%= f.select :quality, [
    ['Choose...', nil],
    ['Cam (bad)', 1],
    ['DVD Screener (good with glitches)', 2],
    ['DVD Rip (good)', 3],
    ['DVD', 4],
    ['Blu-ray', 5]
  ] %>
</div>
<div>
  <%= f.label :watched, 'Seen?' %>
  <%= f.check_box :watched %>
</div>
