<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <title><%= @page_title || title_for_controller_and_action -%></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag 'print', {:media => :print} %>
  <% for js in %w{prototype application} -%>
    <%= javascript_include_tag js %>
  <% end -%>
  <%= yield :head -%><%# Allow templates to yield head content as well. -%>
</head>
<% content_tag :body, :class => classes_for_controller_and_action do %>
<div>
  <div class="top">
    <div class="header">
      <div class="left">&nbsp;&nbsp;&nbsp;Media Thinger</div>
      <div class="right">
        <% if logged_in? -%>
          <div id="user-bar">
            Currently logged in as<br />
            <%= link_to current_user.name, edit_user_path(current_user) %>
          </div>
        <% else -%>
          <div id="login-bar">
            <% form_tag session_path do |f| %>
              <%= label_tag :login %><%= text_field_tag :login %><br />
              <%= label_tag :password %><%= password_field_tag :password %><br />
              <div id="login_button"><%= submit_tag 'Login' %></div>
            <% end %>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navigation">
      <%= link_to 'Home', home_path %>
      <% if logged_in? %>
        <%= link_to 'Movies', movies_path %>
        <%= link_to 'Episodes', episodes_path %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <%= link_to 'Sign up', signup_path %>
      <% end %>
      <div class="clearer"><span></span></div>
    </div>
    <div class="main">
      <div class="content">
        <div id="flash">
        <% if flash[:notice] %><div id="flash-success"><%= flash[:notice] %></div><% end -%>
        <% if flash[:error] %><div id="flash-error"><%= flash[:error] %></div><% end -%>
        <% if flash[:failure] %><div id="flash-failure"><%= flash[:failure] %></div><% end -%>
        </div>
        <div><%= yield -%></div>
      </div>
      <div class="clearer"><span></span></div>
      <!--div class="sidenav">
        <h2>SideNAV</h2>
        <ul>
          <li><a href="#" title="Home">Home</a></li><li><a href="#" title="Downloads">Forest Green </a></li>
          <li><a href="http://www.flexcms.co.uk/FlexCMS_Documentation.aspx" title="Documentation">Trees </a></li>
          <li><a href="#" title="FAQs">About Us </a></li>
          <li><a href="http://www.flexcms.co.uk/FlexCMS_ContactUs.aspx" title="Contact Us">Contact Us </a></li>
        </ul>
        <h2>Membership</h2>
        <ul>
          <li><a href="#">Login / Register</a></li>
          <li><a href="#">Forgot password?</a></li>
        </ul>
        <h2>FlexCMS Bespoke versions</h2>
        <ul>
          <li><a href="http://www.giant-systems.co.uk/">FlexCMS </a></li>
          <li><a href="http://www.giant-systems.co.uk/Ecommerce.aspx">FlexEcommerce</a></li>
          <li><a href="http://www.giant-systems.co.uk/casestudies.aspx">FlexCMS portal server </a></li>
          <li><a href="http://www.giant-systems.co.uk/casestudies.aspx">FlexCMS Intranet </a></li>
        </ul>
        <br />
        <br />
      </div>
      <div class="clearer"><span></span></div>
    </div-->
  </div>
  <div class="footer">
    <span id="copyright">&copy; Tigris 2009</span>
    <span id="motto">Downloading pirated films is stealing. You wouldn't steal a car... Would you?</span>
    <div class="clearer"><span></span></div>
  </div>
</div>
<% end %>
</html>
